body {
    padding-top: 50px;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar, .sidebar2 {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        padding-top: 0;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #2d353c;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    /*margin-bottom: 20px;*/
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.sidebar .nav>li.nav-header {
    margin: 0;
    padding: 10px 20px;
    line-height: 20px;
    font-size: 11px;
    color: #6d7983;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .nav>li>a {
    padding: 8px 20px;
    line-height: 20px;
    color: #a8acb1;
}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    color: #fff;
    background: #00acac;
}
.sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
    background: #232a2f;
    color: #a8acb1;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #333;
    background: #fafafa;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
/* Nav Announcements */

.announcement-heading {
    font-size: 50px;
    margin: 0;
}
.announcement-text {
    margin: 0;
}
/* Table Headers */

table.tablesorter thead {
    cursor: pointer;
}
table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.table-profile {
    padding: 20px;
    color: #fff;
}
.table-image {
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 2px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.table-image img {
    max-width: 100%;
    max-height: 100%
}
.table-info {
    font-size: 18px;
    color: #232a2f;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.table-info small {
    display: block;
    color: #889097
}
.table-score {
    font-size: 45px;
}
.table-rank {
    font-size: 30px;
}
.modal-static, .modal-static .modal-dialog, .modal-static .modal-content {
    width: 200px;
    height: 200px;
}
.modal-static .modal-dialog, .modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}
