<<<<<<< HEAD
body {
    padding-top: 50px;
}
.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}
.table > tbody > tr > .no-line {
    border-top: none;
}
.table > thead > tr > .no-line {
    border-bottom: none;
}
.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.help-inline {
    font-size: 12px;
    color: red;
    font-style: italic;
}
=======
body {
    padding-top: 50px;
}
.invoice-title h2,
.invoice-title h3 {
    display: inline-block;
}
.table > tbody > tr > .no-line {
    border-top: none;
}
.table > thead > tr > .no-line {
    border-bottom: none;
}
.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.help-inline {
    font-size: 12px;
    color: red;
    font-style: italic;
}
>>>>>>> development
