/* JQM Demos custom CSS */

/* Header */

.jqm-demos .jqm-header {
    background: #fff;
    border-top: 4px solid #3eb249;
    border-bottom-color: #eee;
}
.jqm-demos .jqm-header h2 {
    padding: .4em 0 .1em;
    margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
    display: inline-block;
    text-decoration: none;
    min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
    display: block;
    width: 140px;
    height: auto;
}
.jqm-demos .jqm-header h2 > img {
    display: inline-block;
}
.jqm-demos .jqm-header p {
    position: absolute;
    bottom: -2em;
    left: 1em;
    margin: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.jqm-demos .jqm-header .ui-btn {
    width: 2em;
    height: 2em;
    background: none;
    border: 0;
    top: 50%;
    margin-top: -1em;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    opacity: .4;
    filter: Alpha(Opacity=40);
}
/* Footer */

.jqm-demos .jqm-footer.ui-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
}
.jqm-demos .jqm-footer.ui-footer .ui-btn {
    font-size: 18px;
    padding: 10px 20px;
}
.jqm-demos .jqm-footer {
    border-top: 1px solid #080808;
    background: #222222
}
.jqm-demos .jqm-footer p {
    font-size: .8em;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
    font-size: 1em;
    color: #666;
    font-weight: 400;
    margin: 1em 1em .75em;
}
/* Content */

.jqm-demos .jqm-content {
    padding-top: 3em;
}
.jqm-demos .jqm-content > h1, .jqm-demos .jqm-content > h2, .jqm-demos .jqm-content > h3, .jqm-demos .jqm-content > p, .jqm-demos .jqm-content > ul li, .jqm-demos .jqm-content > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.jqm-demos .jqm-content > h1 {
    font-size: 2.4em;
    margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
    color: #3eb249;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
    color: #3eb249;
    background-color: transparent;
    font-size: 1.4em;
    margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
    font-size: 1.2em;
    line-height: 1.5;
}
.jqm-demos .jqm-content > ul:not(.jqm-list) li {
    font-size: 1.2em;
    line-height: 1.5;
}
.jqm-demos .jqm-content > p {
    margin: 0 0 1.25em;
}
.jqm-demos .jqm-content > ul, .jqm-demos .jqm-content > ol {
    padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
    padding-left: 0;
}
.jqm-demos .jqm-content > a, .jqm-demos .jqm-content > p a, .jqm-demos .jqm-content > ul:not(.jqm-list) li a {
    font-weight: 400;
    text-decoration: none;
}
.jqm-demos .jqm-content strong {
    font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
    font-weight: 400;
}
/* Homepage */

.jqm-home > .jqm-content > img {
    width: 400px;
    max-width: 100%;
    display: block;
    margin: 2.5em 0;
}
.jqm-home .ui-grid-a {
    margin: 2.5em -.5em -.5em;
}
.jqm-block-content {
    margin: .5em;
    padding: 1em;
    /*padding: 0em;*/
    background: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    font-family: 'Open Sans', sans-serif;
}
.jqm-block-content h3 {
    font-size: 16px;
    font-weight: 300;
    color: #3eb249;
    border-bottom: 1px solid #ddd;
    padding-bottom: .25em;
    margin: 0 0 .5em;
}
.jqm-block-content h4 {
    font-size: 12px;
    font-weight: 300;
    color: #3eb249;
    padding-bottom: .25em;
    margin: 0 0 .5em;
}
.jqm-block-content p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    margin: .7em 0;
}
.jqm-block-content p:last-child {
    margin-bottom: 0;
}
.jqm-block-content a:link {
    font-weight: 300;
    text-decoration: none;
}
/* Code */

.jqm-content pre, .jqm-content code {
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    background: #e5e5e5;
    background: rgba(0, 0, 0, .05);
    padding: 0 .125em;
}
.jqm-content pre {
    padding: 0 1em 1.2em;
    white-space: pre-wrap;
}
.jqm-content pre > code {
    padding: 0;
    background: none;
    font-size: .9em;
}
/* Lists */

.jqm-demos .jqm-search .jqm-list {
    margin: 0 -1em 1em;
}
.jqm-demos .jqm-list .ui-btn, .jqm-demos .jqm-list .ui-btn:visited, .jqm-demos .jqm-list .ui-li-divider {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: none !important;
}
.jqm-demos .jqm-list .ui-btn:hover, .jqm-demos .jqm-list .ui-btn:active {
    color: #3388cc;
}
.jqm-demos .jqm-list .ui-btn.ui-btn-active {
    color: #fff;
}
.jqm-demos .jqm-list .ui-li-divider {
    color: #3eb249;
}
/* Navmenu */

.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
    margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
    padding: 0;
    border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn, .jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn, .jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
    border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
    padding-left: 1.5em;
    color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
    color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
    opacity: .4;
    filter: Alpha(Opacity=40);
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav {
    display: none;
    position: absolute;
    top: 178px;
    left: 12px;
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a {
    border-top: none;
}
/* Search */

.jqm-search-panel .ui-panel-inner {
    /*padding-top: 0;*/
}
.jqm-search-panel .ui-input-search {
    margin: 1em 0;
}
.jqm-search-panel .ui-input-search.ui-focus {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.jqm-list .jqm-search-results-keywords {
    padding: .46857em 0 0;
    font-size: .8em;
    font-weight: 300;
    color: #999;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-btn-active .jqm-search-results-keywords {
    color: #fff;
}
.jqm-search-results-highlight {
    color: #3388cc;
    font-weight: 400;
}
.ui-btn-active .jqm-search-results-highlight {
    color: #fff;
    font-weight: 300;
}
/* Quick links */

.jqm-demos .jqm-content .jqm-deeplink {
    display: block;
    color: #999;
    font-weight: 300;
    border-top: 1px solid #eee;
    text-align: right;
    padding-top: .2em;
    margin: 0 0 1.5em;
}
.jqm-demos .jqm-content .jqm-deeplink:after {
    content: "";
    display: block;
    float: right;
    margin: .1em 0 0 .5em;
    width: 1em;
    height: 1em;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .4;
    filter: Alpha(Opacity=40);
}
/* View source links */

.jqm-demos .jqm-content .jqm-view-source-link, .jqm-demos .jqm-content .jqm-view-source-link:visited, .jqm-demos .jqm-content .jqm-view-source-link:hover, .jqm-demos .jqm-content .jqm-view-source-link:active {
    color: #3eb249;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 2em 0 1.5em 1em;
}
.jqm-demos .jqm-content .jqm-view-source-link.ui-btn-active:link {
    color: #fff;
}
@media (min-width: 60em) {
    .jqm-demos .jqm-header h2 {
        padding: 1em 0 .7em;
        margin: 0 1em 0 3%;
        text-align: left;
    }
    .jqm-demos .jqm-header h2 img {
        width: 275px;
        height: 78px;
    }
    .jqm-demos .jqm-header p {
        bottom: auto;
        left: auto;
        top: 50%;
        right: 15%;
        font-size: 1.2em;
        margin-top: -.625em;
    }
    .jqm-demos .jqm-navmenu-link {
        display: none;
    }
    .jqm-demos .jqm-search-link {
        right: 3%;
    }
    .jqm-demos .jqm-footer p {
        float: right;
        margin: 1.5em 3% 1.5em 1.5em;
    }
    .jqm-demos .jqm-footer p:first-child {
        float: left;
        margin: 1.25em 1.25em 1.25em 3%;
    }
    .jqm-demos .jqm-navmenu-panel {
        visibility: visible;
        position: relative;
        left: 0;
        float: left;
        width: 25%;
        background: none;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .jqm-demos.jqm-panel-page .jqm-navmenu-panel {
        display: none;
    }
    html .jqm-demos.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
        display: block;
    }
    .jqm-demos .jqm-navmenu-panel .ui-panel-inner {
        /*margin-top: 3em;*/
        margin-bottom: 3em;
    }
    .jqm-demos .jqm-content {
        width: 67%;
        padding-top: 2em;
        padding-left: 5%;
        padding-right: 3%;
        float: right;
    }
    .jqm-demos .jqm-content.jqm-fullwidth {
        width: auto;
        padding-left: 15%;
        padding-right: 15%;
        float: none;
    }
    .jqm-navmenu-panel .ui-listview .ui-btn {
        padding-left: 12.5%;
    }
    .jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
        padding-left: 15%;
    }
    .jqm-navmenu-panel .ui-collapsible, .jqm-navmenu-panel .ui-collapsible-content, .jqm-navmenu-panel .ui-btn {
        background: none !important;
        border-color: #ddd !important;
    }
    .jqm-navmenu-panel .ui-btn.ui-btn-active {
        color: #3388cc !important;
    }
    .jqm-navmenu-panel .ui-btn::after {
        opacity: 0;
        -webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
    }
    .jqm-navmenu-panel .ui-btn:hover::after {
        opacity: .4;
    }
    .jqm-search-panel {
        width: 26em;
        right: -26em;
        z-index: 1003;
        /* Puts the panel on top of the dismiss modal which is not adjusted to custom width */
    }
    .jqm-search-panel.ui-panel-animate.ui-panel-position-right {
        -webkit-transform: translate3d(26em, 0, 0);
        -moz-transform: translate3d(26em, 0, 0);
        transform: translate3d(26em, 0, 0);
    }
    .ui-panel-dismiss-open.ui-panel-dismiss-position-right {
        left: -17em;
        right: 17em;
    }
}
/*@media (min-width: 35em) {
    .jqm-block-content {
        min-height: 18em;
    }
}
*/

.ui-btn.ui-btn-c, .ui-btn.ui-btn-c:visited, .ui-btn.ui-btn-c:hover, .ui-btn.ui-btn-c:active, .ui-btn.ui-btn-c.ui-btn-active {
    background: #3498db;
    border-color: #2980b9;
    color: #fff;
    text-shadow: 0 1px 0 #0033cc;
}
/* Button D - PHP */

.ui-btn.ui-btn-d, .ui-btn.ui-btn-d:visited, .ui-btn.ui-btn-d:hover, .ui-btn.ui-btn-d:active, .ui-btn.ui-btn-d.ui-btn-active {
    background: #ed1c24;
    border-color: #ff0000;
    color: #fff;
    text-shadow: 0 1px 0 #ff0000;
}
/* Button E - JS */

.ui-btn.ui-btn-e, .ui-btn.ui-btn-e:visited, .ui-btn.ui-btn-e:hover, .ui-btn.ui-btn-e:active, .ui-btn.ui-btn-e.ui-btn-active {
    background: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    text-shadow: 0 1px 0 #108040;
}
/* Button F - CSS */

.ui-btn.ui-btn-f, .ui-btn.ui-btn-f:visited, .ui-btn.ui-btn-f:hover, .ui-btn.ui-btn-f:active, .ui-btn.ui-btn-f.ui-btn-active {
    background: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    text-shadow: 0 1px 0 #cc0099;
}
.selected-panel {
    background: #00acac!important;
    color: #fff !important;
}
.selected-panel .info small {
    display: block;
    color: #fff !important;
}
.selected-panel .image {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 2px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.selected-panel .image img {
    max-width: 100%;
    max-height: 100%;
}
.profile-panel {
    color: #fff !important;
    background: #1abc9c !important;
}
.profile-panel .image {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 2px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.profile-panel .image img {
    max-width: 100%;
    max-height: 100%;
}
.profile-panel .info {
    font-size: 14px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: none;
}
.profile-panel .info small {
    display: block;
    color: #ddd;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-width: 100%;
    max-height: 100%;
    width: 120px;
    height: 120px;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.placeholders div a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: rotate scale(1.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.placeholders div a {
    text-decoration: none;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.state-link a {
    display: block;
    margin: 15px -15px -15px;
    padding: 7px 15px;
    background: #333 !important;
    background: rgba(0, 0, 0, .4) !important;
    text-align: right;
    color: #ddd !important;
    font-weight: 300 !important;
    text-decoration: none;
}
.state-link a:focus, .state-link a:hover {
    background: #000;
    background: rgba(0, 0, 0, .6);
    color: #fff;
}
.state-link a:focus, .state-link a:hover {
    background: #000;
    background: rgba(0, 0, 0, .6);
    color: #fff;
}
.selected-panel .image {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.img-circle {
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
}
.dev-1 {
    padding-top: 1px;
    background-color: #28d8b3 !important;
}
.dev-2 {
    padding-top: 1px;
    background-color: #fd6e6e !important;
}
.dev-3 {
    padding-top: 1px;
    background-color: #FFAB89 !important;
}
.dev-4 {
    padding-top: 1px;
    background-color: #552D56 !important;
}
.dev-1 h2, .dev-2 h2, .dev-3 h2, .dev-4 h2 {
    color: #f6f7fa;
    font-weight: 400;
    font-size: 28px;
    margin-left: 10px;
}
.dev-1 p, .dev-2 p, .dev-3 p, .dev-4 p {
    color: #f6f7fa;
    font-weight: 300;
    font-size: 18px;
    margin-left: 12px;
}
.background-app {
    background: #FF6B4F !important;
}
.about-app > p {
    font-size: 14px !important;
    font-family: 'Open-Sans', sans-serif !important;
    font-weight: 300 !important;
}
.about-app > p strong {
    font-weight: 400;
}
.about-app > h1 {
    font-size: 2.4em;
    margin: 0 0 .625em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.about-app > h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3eb249;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}
